
$color_primary: rgba(200, 52, 47, 1)
$color_primary_70: rgba(200, 52, 47, .7)
$color_primary_50: rgba(200, 52, 47, .5)
$color_primary_30: rgba(200, 52, 47, .3)
$color_primary_10: rgba(200, 52, 47, .1)

$color_onsurface_primary: rgba(0, 0, 0, 1)
$color_onsurface_secondary: rgba(0, 0, 0, 0.7)
$color_onsurface_tetriary: rgba(179, 179, 179, 1)
$color_onsurface_quaternary: rgba(242, 242, 242, 1)

$color_surface_primary: rgba(255, 255, 255, 1)
$color_surface_overlay: rgba(251, 251, 251, 1)
$color_surface_positive: rgba(46, 147, 37, 1)
$color_surface_dangerous: rgba(245, 200, 28, 1)

$color_hit: #91C38C
$color_new: #DE9491
$color_like: #F7C294


//UTILS
$color_transparent: rgba(255, 255, 255, 0)
